@model MvcWorkshops.Models.News.NewsIndexViewModel
@{
    ViewBag.Title = "News";
}

<h2>Todays news</h2>
<ul>
    @foreach (var news in Model.News)
    {
        <li class="dialog-link" data-href="@Url.Action("Details", new { id = news.Id })">@news.Content</li>
    }
</ul>
@Html.ActionLink("Add news", "Add", null, new { @class = "btn btn-primary"})

