@model MvcWorkshops.Models.ShoppingCart.ShoppingCartHeaderViewModel
<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
<span>Items: @Model.Count, Sum: @Model.Total.ToString("c")</span>
